.newsletter {
  &__group {
    &__button {
      background-color: $coral;
      color: $white;
      display: inline-block;
      border-width: 0;
      font-size: 13px;
      padding: 5px 10px;
    }
  }
}