img {
  max-width: 100%;
}

.wrapper {
  padding: 0 1%;
}

body {
  font-family: "Overpass Mono", monospace;
}

h2 {
  font-size: 24px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.contenido {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 992px) {
  .contenido {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "articles aside";
  }
}
@media only screen and (min-width: 992px) {
  .news-section {
    grid-template-rows: 50% 50%;
  }
}
.listado-izquierdo {
  display: none;
}

@media (min-width: 992px) {
  .listado-izquierdo {
    padding: 0 10%;
    height: 1445px;
    grid-area: aside;
    display: block;
  }

  .cabecera-listado {
    width: 100%;
    border-bottom: 1px solid gray;
  }

  .tags {
    border-bottom: 1px solid gray;
  }
  .tags ul {
    padding: 0;
    list-style: none;
  }
  .tags ul {
    text-indent: 10%;
  }
  .tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: #fff;
    display: inline;
    line-height: 25px;
  }
  .tags ul li:hover {
    background-color: coral;
  }
}
.header {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.header__nav {
  width: 100%;
  text-align: right;
}
.header__nav__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__nav__list-item {
  padding: 0 10px;
}
.header__nav__list-item a {
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .header .nosotros {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header .header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__logo {
    font-size: 24px;
  }
  .header .header__nav {
    width: 100%;
    text-align: right;
  }
  .header .header__nav__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .header__nav__list-item {
    padding: 0 10px;
  }
}

.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 40px;
  border-radius: 25px;
}
.card-item:hover {
  box-shadow: 0px 0px 5px gray;
  transition: box-shadow 0.7s;
  background-color: #f2f4f5;
}
.card-item__body {
  width: 100%;
}
.card-item__body__image {
  width: 100%;
}
.card-item__body__text {
  padding: 5px 0;
}

.noticias-destacadas img {
  max-height: 100%;
}
.noticias-destacadas .card-item {
  padding: 0;
}

.header__nav {
  width: 100%;
  text-align: right;
}
.header__nav__input-menu {
  border-radius: 30px;
  width: 100%;
}
.header__nav__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
}
.header__nav__list-item {
  padding: 0 10px;
}
.header__nav__list-item a {
  text-decoration: none;
  text-transform: uppercase;
}
.header__nav__list-item a:visited {
  color: #020202;
}

.nosotros {
  display: none;
}

@media only screen and (min-width: 992px) {
  .nosotros {
    display: block;
  }
}
button {
  background-color: coral;
  color: #fff;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  text-decoration: none;
}

.news-section__button {
  display: none;
}

@media (min-width: 992px) {
  .news-section__button {
    display: block;
    background-color: #f2f4f5;
    color: #020202;
    border-radius: 25px;
  }
  .news-section__button:hover {
    background-color: gray;
    color: #fff;
  }
}
.newsletter__group {
  display: flex;
  justify-content: center;
}
.newsletter__group__button:hover {
  background-color: steelblue;
}

.newsletter__group__input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  color: gray;
}

/*# sourceMappingURL=main.css.map */
