.contenido {
  width: 960px;
  margin: 0 auto;
}

.news-section {
  width: 700px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  &__news-item {
    width: 210px;
    
  }
  &__body {
    &__image {
      width: 100%;
    }
    &__text {        
      padding: 5px 0;
    }
  }
}
