.contenido {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 992px) {
  .contenido {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "articles aside";
  }
}

// NEWS SECTION //


// ASIDE SECTION //
.listado-izquierdo {
  display: none;
}

@media (min-width: 992px) {
  .listado-izquierdo {
    padding: 0 10%;
    grid-area: aside;
    display: block;
  }

  .cabecera-listado {
    width: 100%;
    border-bottom: 1px solid $gray;
  }

  .tags {
    border-bottom: 1px solid $gray;
    ul {
      padding: 0;
      list-style: none;
      & {
        text-indent: 10%;
      }
      li {
        padding: 2px 4px;
        background-color: $steelblue;
        margin-right: 1px;
        color: $white;
        display: inline;
        line-height: 25px;

        &:hover {
          background-color: $coral;
        }
      }
    }
  }

  
}
